// Checks if an element belongs to a list
@function belongs-to($tested-item, $list) {
  @each $item in $list {
    @if $item == $tested-item {
      @return true;
    }
  }
  @return false;
}

// Contains display value
@function contains-display-value($query) {
  @if belongs-to(table, $query) or belongs-to(block, $query) or belongs-to(inline-block, $query) or belongs-to(inline, $query) {
    @return true;
  }
  @return false;
}

// Layout direction
@function get-direction($layout, $default) {
  $direction: nil;
  @if $layout == LTR or $layout == RTL {
    $direction: direction-from-layout($layout);
  } @else {
    $direction: direction-from-layout($default);
  }
  @return $direction;
}

@function direction-from-layout($layout) {
  $direction: nil;
  @if $layout == LTR {
    $direction: right;
  } @else {
    $direction: left;
  }
  @return $direction;
}

@function get-opposite-direction($direction) {
  $opposite-direction: left;
  @if $direction == left {
    $opposite-direction: right;
  }
  @return $opposite-direction;
}